
{{> header_nologin}}


<div class="ui container">
    <div class="ui text basic segment">
    
        <h2 class="ui dividing header">Kontakt?</h2>

            <p>
                Wir freuen uns von dir zu hören. Dein help2day Team.
            </p>


        <h3>eMail</h3>

            <p>
                <a href="mailto:office@help2day.org">office@help2day.org (Michael, Manfred, Dietmar)</a>
            </p>
        
        <h3>Telefon</h3>
      
            <p>
                <a href="tel:+43 676 6504586">+43 676 6504586 (Dietmar)</a>
            </p>  

        <h3>Homepage</h3>
      
            <p>
                <a href="https://www.help2day.org">www.help2day.org</a>
            </p>  
  
</div>
</div>

    <div class="ui basic segment">
    </div>

{{> footer}}
