{{> header_crm}}

<div class="ui container">
    <div class="ui text basic segment">
    
        <h2 class="ui dividing header">Wo bekomme ich die App her?</h2>

            <p>
            Die help.today App gibt es für Android im Google Play Store und für iPhones im iTunes Store zum Download. Die App ist gratis. Einfach in den App Stores nach 'help.today' suchen. Es gibt keine In-App Verkäufe.
            </p>


        <h2 class="ui dividing header">Wozu help.today?</h2>

            <p>
            Die help.today App zeigt dir, wo gerade jetzt was los ist. Du öffnest die App, gehst auf die Karte und siehst anhand der Grösse der Kreise, 
            welche Hotspots in deiner Nähe gerade heiss sind. 
            Jeder Kreis besteht dabei aus zwei Elementen, der äussere Kreis sagt, wie viele User in den letzten Monaten den Hotspot gut befunden haben. 
            Der Innere Kreis sagt, wie viele User innerhalb der letzten zwei Stunden den Hotspot für cool befunden haben.
            </p>
        
            <p>
            Aber wie geht das? Ganz einfach. Wenn du an einem coolen Spot bist legst du einfach einen Hotspot in der help.today App an und drückst auch gleich auf den Herz Button des Hotspots. 
            Damit wird er sichtbar. Andere Leute, die gerade suchen, wo was los ist, finden dadurch den Hotspot und kommen vielleicht vorbei. Mehr Leute – mehr Spass!
            </p>


        <h2 class="ui dividing header">Wie kann ich nach bestimmten Spots suchen?</h2>

      
            <p>
            Die App hat Filter und eine Suchfunktion. Die Filter sind im Seitenmenü zu finden (Knopf links oben). Die Suchfunktion am iPhone ist
            in der oberen Menüzeile, in Android unten bei den Filtern zu finden.
            </p>  


        <h2 class="ui dividing header"> Wie kann ich mich in der App anmelden?</h2>

            <p>Wenn du nur nach Spots suchst, kannst du die App ohne Registrierung verwenden. Wenn du Hotspots erstellen und liken willst, oder Geschenke bekommen willst, dann kannst du dich via Facebook oder per eMail registrieren.</p>
            
            <p><i class="mail icon"></i> Die eMail Registrierung funktioniert so, dass du deine eMail in der App eingibst und auf Anmelden drückst. Dann bekommst du eine Mail auf diese Adresse gesendet. Die Mail enthält einen Link, auf den du klickst. Damit bist du registriert.</p>
            
            <p><i class="facebook icon"></i> Die Facebook Registrierung ist lediglich ein Knopfdruck, falls du die Facebook App am Handy laufen hast. Sonst bitte deine Facebook-Anmeldedaten in das Formular eingeben. Die App benötigt keine Schreibrechte auf deinen Facebook Account und lediglich Leserechte auf deine öffentlichen Daten.</p>



        <h2 class="ui dividing header">Wie kann ich einen Hotspot ändern?</h2>

            <p>
            Die aktuellen Versionen der Apps können noch keine Änderungen durchführen. Es ist jedoch möglich im CRM System deine eigenen Hotspots zu editieren. Logge dich mit Facebook oder deiner eMail ein und du hast Zugriff auf die von dir erstellen Hotspots.
            </p>
            <p>
            Für die Anmeldung per eMail benötigst du ein Password. Das kann in der App eingestellt unter Einstellungen gesetzt werden.
            </p>



        <h2 class="ui dividing header"> Wie kann ich die eMail Adresse meines Accounts ändern?</h2>

            <p>
            Das Registrierungsformular der App zeigt nach der erfolgreichen Registrierung die Logout Buttons für eMail und Facebook, jenachdem mit was du dich registriert hast.
            </p>
 
 
 
        <h2 class="ui dividing header">Wie kann ich einen Account löschen?</h2>

            <p>
            Zum Löschen deines Accounts, sende bitte eine eMail an office@grex-app.com mit der Bitte um Löschung. Für die korrekte Zuordnung des Accounts brauchen wir deine eMail Adresse, mit der du dich registriert hast oder deinen Facebook Namen von dem Facebook Account mit dem du dich registriert hast.
            Wir bitten auch um Information, was wir mit den Hotspots machen sollen, die du angelegt hast.
            </p>
 
    <div class="ui basic segment">
    </div>
  
</div>
</div>

{{> footer}}
