
<script>
    $(document).ready(function()
    {
    });
</script>


<div class="pusher">

    {{> header_nologin}}
    
    
    <div class="ui basic vertical padding segment"></div>


    <div class="ui basic vertical segment">
        <img class="ui centered image" src="/images/helptoday_logo_large.png">
    </div>
    <div class="ui basic padded segment"></div>
    
    
    
    <div class="ui basic vertical segment">
    
        <div class="ui one column centered stackable grid container">
    
            <div class="eight wide column">
    
                    {{#if message}}
                    <div class="ui attached negative message">
                        <div class="header">Hallo!</div>
                        <p>{{ message }}</p>
                    </div>
                    {{else}}
                    <div class="ui attached message">
                        <div class="header">Willkommen bei help2day</div>
                        <p>
                            Bei der Registrierung als NGO ist ein Problem aufgetreten. Bitte kontaktiere uns
                            via <a href="mailto:office@help2day.org">office@help2day.org</a>.
                        </p>
                    </div>
                    {{/if}}
    
            </div>
    
            <div class="ui horizontal divider">Oder</div>
    
            <p>Zurück zur <a href="/login">Login</a> Seite</p>
    
        </div>
    </div>
    
    <div class="ui basic segment"></div>
    
</div>


{{> footer}}
