{{> header_webapp}}

<div class="pusher">

    <div class="ui text basic segment"></div>
    <div class="ui text basic segment"></div>

    <div class="ui text basic segment">

        <h2 class="ui dividing header">help2day Lizenzen und Quellen</h2>
        
        <p>
            help2day.org wäre nicht möglich ohne einer Reihe von Open Source Quellen und Projekten. Wir veröffentlichen alle verwendeten Sourcen
            (work in progress)
            auf dieser Seite und danken allen Beitragenden. Wir lieben Open Source und werden selber Teile von help2day.org als Open Source zur Verfügung stellen.
        </p>
        
        <br/>
        
        <h3>Software</h3>
        
        <h4>node.js</h4>
        
            <p>
            Lizenz:  <a href="https://raw.githubusercontent.com/nodejs/node/master/LICENSE">Specific License</a></p>
            </p>
        
        
        <h4>express</h4>
        
            <p>
            Lizenz:  <a href="https://github.com/strongloop/express/blob/master/LICENSE">MIT License</a></p>
            </p>
        
        
        <h4>semantic-ui</h4>
        
            <p>
            Lizenz:  <a href="http://semantic-ui.mit-license.org/">MIT License</a></p>
            </p>

        <h4>Others</h4>

            <p>
                noch viele andere kleinere Projekte tragen zum Gelingen von help2day.org bei. Wir werden diese hier in Kürze auflisten.
            </p>


        <h3>Bilder</h3>

            <h4>shutterstock.com</h4>


    </div>
</div>


{{> footer}}