
{{> header_webapp}}


<div class="pusher">

    <div class="ui basic segment">    </div>
    <div class="ui basic segment">    </div>

    <div class="ui text basic segment">
    
        <h2 class="ui dividing header">Kurz und Bündig</h2>

        <ol>
            <li>Wir übernehmen keine Verantwortung für Schäden, die bei oder durch die Ausführung von Hilfsanfragen entstehen.</li>
            <li>Wir übernehmen keine Verantwortung für die Richtigkeit der eingestellten Hilfsanfragen.</li>
            <li>Wir speichern Daten die sich aus der Verwendung des Systems ergeben und geben diese Daten an die Hilfsorganisationen weiter.</li>
            <li>Wir verwenden Cookies um die Verwendung der Web App zu erleichtern.</li>
            <li>Zum Löschen deiner Daten und deines Accounts, schreibe eine entsprechende Aufforderung an <a href="mailto:office@help2day.org">office@help2day.org</a></li>
        </ol>
    </div>



    <div class="ui text basic segment">
        
        <h2 class="ui dividing header">Datenschutz und Geschäftsbedingungen</h2>
        
        <h3>Datenschutz</h3>
        
        Der Schutz deiner Privatsphäre ist ein wichtiges Anliegen für help2day. Welche Daten durch die Verwendung von help2day entstehen und wie wir diese verwenden, ist in den folgenden Absätzen beschrieben. 
        Dabei unterscheiden wir zwischen A) Account- und Registrierungsdaten und B) Daten, die aus der Verwendung der App entstehen.

        <h4>A) Account- und Registrierungsdaten</h4>
        Für die Installation der App werden keine persönlichen Daten benötigt und gespeichert. 
        Falls du jedoch erweiterte Funktionen der App verwenden willst, musst du dich mit Hilfe der App registrieren. 
        Dazu stehen zwei Wege zur Verfügung. Die Registrierung per eMail und die Registrierung über einen Facebook Account.
        
        Bei der Registrierung per eMail wird in der App und am Server die eMail Adresse in Bezug auf den Account gespeichert. 
        Bei der Registrierung per Facebook wird deine Facebook Nummer sowie ein Zugriffsschlüssel in der App und am Server gespeichert. 
        help2day gibt diese Registrierungsdaten nicht an dritte Parteien weiter (ausser wir werden gerichtlich dazu gezwungen) und verkauft diese Daten nicht. 
        help2day verwendet die Registrierungsdaten lediglich um eine installierte Version auf dem mobilen Endgerät eindeutig einem Account zuzuordnen. 
        help2day kann die eMail Adresse verwenden, um wichtige Informationen über den Betrieb des Dienstes oder die Verwendung von Apps an dich zu senden.
        
        Um den Service von help2day zu verbessern senden die Apps bei der Registrierung auch Informationen über die Art des Telephones, die Software Version und die 
        eingestellte Sprache an den Server. Weiters berechnet die App einen eindeutigen Schüssel für die Installation. 
        Dieser Schlüssel wird am Server gespeichert. Der Schlüssel ist jedoch so gestaltet, dass mit Hilfe des Schlüssels alleine dein Endgerät nicht identifiziert werden kann.
        
        Dein Nickname wird in Zusammenhang mit deinen Postings verwendet und veröffentlicht. Nicknames sind nicht eindeutig, es können also mehrere help2day User den gleichen Nickname verwenden.
        
        &nbsp;
        
        <h4>B) Daten aus der Verwendung der App</h4>
        Durch die Verwendung der App entstehen drei verschiedene Arten von Daten:
        <ol>
        	<li>Positionsinformationen, die von der App an den Server gesendet werden, um die Standorte und Hilfsanfragen der ausgewählten Position zu laden. 
            Diese Positionsdaten werden am Server gespeichert.</li>
        	<li>IP Adresse, Nickname und Positionsdaten, die von der App an den Server gesendet werden wenn du eine Hilfsanfrage annimmst oder ein Ticket einlöst. 
            Diese Daten werden in Bezug auf deine Accountinformation am Server gespeichert. Diese Daten werden an die Hilfsorganisation weitergegeben und in der App angezeigt. 
            Allerdings können diese Daten von help2day in anonymisierter Form (also ohne direkten Bezug auf Account- oder Registrierungsdaten) an Dritte weitergegeben werden.</li>
        	<li>Erzeugter Inhalt, der von der App an den Server gesendet wird, wenn mit Hilfe der App gechattet wird. 
            Solche Information wird am Server gespeichert und kann öffentlich eingesehen werden. help2day präsentiert diese Information innerhalb der App und angeschlossener Tools.</li>
        </ol>
        &nbsp;
        
        <h3>Geschäftsbedingungen für Helfer</h3>
        Durch die Installation der App und das Anklicken des Dialogfeldes "Ich stimmen den Nutzungsbedingungen zu" stimmst du den folgenden Nutzungsbedingungen zu. 
        Die Bedingungen regeln die Nutzung des Services und deiner Daten durch help2day mit den folgenden Regeln:
        <ol>
        	<li>du stimmst der Nutzung deiner Daten, wie im vorgehenden Absatz Datenschutz beschrieben, zu</li>
            <li>help2day kann nicht garantieren, dass ein Standort deine Hilfeleistung wirklich annehmen kann. Falls deine Hilfeleistung nicht angenommen wird, versuche bitte am Standort das Problem zu lösen, oder informiere uns über den Vorfall. Wir werden uns bemühen eine Lösung zu finden.</li>
            <li>help2day kann nicht haftbar gemacht werden, falls dir während der Leistung der Hilfe oder bei der Abgabe der Hilfsgüter etwas passiert oder ein Schaden entsteht.</li>
        	<li>du gibst help2day das Recht, deinen erzeugten Inhalt aus dem Absatz B.3) zu verwenden, anzuzeigen, zu ändern und zu verarbeiten und die Daten sowie die Ergebnisse auch an Dritte weiterzugeben und zur Nutzung zu verkaufen</li>
        	<li>du gibst help2day das Recht, deine Daten aus dem Absatz A) und B) zu verwenden um öffentliche Daten aus B.3) zu gruppieren, zu filtern und mit anderen öffentlichen Daten zu vereinen um daraus Reports für Dritte Parteien zu erzeugen. help2day wird dabei darauf achten, dass durch Filterung und Gruppierung die Accountinformationen A) und Verwendungsinformationen B.2) aus dem Datensatz nicht rekonstruiert werden können.</li>
        	<li>du sagst zu, keinen anstössigen oder möglicherweise anstössigen Inhalt zu erstellen und an den Server zu senden. Als Inhalt gelten insbesondere Kommentartext in Chats. Du erkennst an, dass help2day anstössige und möglicherweise anstössige Inhalte sperrt und/oder löscht. Du stimmst zu, dass dein Account bei Verletzung dieser Punkte ohne Ankündigung von help2day gesperrt und/oder gelöscht werden kann.</li>
        	<li>help2day gibt keine Garantie auf die Verfügbarkeit oder Fortbestand des Services und deiner Daten.</li>
        </ol>
        
        Um deinen Account und deine Daten zu löschen, schreibe bitte eine eMail mit der entsprechenden Aufforderung an die Adresse office@grex-app.com.
        
        </div>
    
    <div class="ui basic segment">    </div>
    
</div>
      
{{> footer}}
