
{{> header_webapp}}


<div class="pusher">

    <div class="ui basic segment">    </div>
    <div class="ui basic segment">    </div>

    <div class="ui text basic segment">
    
        <h2 class="ui dividing header">Kontakt?</h2>

            <p>
                Wir freuen uns von dir zu hören. Dein help2day Team.
            </p>


        <h3>eMail</h3>

            <p>
                <a href="mailto:office@help2day.org">office@help2day.org</a>
            </p>
        
        <h3>Telefon</h3>
      
            <p>
                <a href="tel:+43 676 6504586">+43 676 6504586</a>
            </p>  


  
    </div>
    <div class="ui basic segment">
    </div>
    
</div>

{{> footer}}
