{{> header_webapp}}

<div class="pusher">

    <div class="ui text basic segment"></div>
    <div class="ui text basic segment"></div>

    <div class="ui text basic segment">
    
        <h2 class="ui dividing header">Impressum</h2>
    
        <h3 class="first">Diese Seite wird veröffentlicht und betrieben von</h3>
    
        <p>GREX IT Services Gmbh  im Auftrag von help2day.org</p>
    
        <br />
    
        <p>Office: 1120 Wien, Eglseegasse 10</p>
        <p>Telefon: +43 676 650 4586</p>
        <p>E-Mail: office@grex-app.com</p>
        <p>UID Nummer: ATU65795909</p>
        <p>Firmenbuch: FN 344764 g</p>
    
        <br />
        <p>Tätigkeitsbereich: Beratung und Betrieb von Services im Bereich sozialer Medien und benutzergenerierter Inhalte.</p>
    
        <p>
            Richtung der Website („Blattlinie“): Information zu und Betrieb von einem Service der benutzergenerierte Informationen 
            geographisch und thematisch aufbereitet und zur Verfügung stellt. Die verwendete Sprache für die Darstellung ist
            Deutsch.</p>
    </div>

    <div class="ui basic segment">
    </div>

</div>

{{> footer}}
