{{> header_webapp}}

<div class="pusher">

    <div class="ui text basic segment"></div>
    <div class="ui text basic segment"></div>
    
    <div class="ui text basic segment">
        <h2 class="ui dividing header">Wo bekomme ich die App her?</h2>

            <p>
                Die Web App funktioniert auf aktuellen Browsern (Internet Explorer ab EI9+) und kann unter der Adresse <a href="https://help2day.org">https://help2day.org</a> erreicht werden.
            </p>
            <p>
                Die help2day App gibt es in Kürze auch für Android im Google Play Store und für iPhones im iTunes Store zum Download. 
                Die App ist gratis. Einfach in den App Stores nach 'help2day' suchen. Es gibt keine In-App Verkäufe.
            </p>


        <h2 class="ui dividing header">Wozu help2day?</h2>

            <p>
            Die help2day App zeigt dir, wo gerade jetzt deine Unterstützung gebraucht wird. Du öffnest die App, gehst auf die Karte und siehst anhand der Grösse der Kreise, 
            welche Standorte in deiner Nähe gerade Hilfe brauchen und welche gerade viel Aufmerksambeit bekommen. 
            </p>
        
            <p>
            Die Hilfsorganisationen stellen ihre Hilfsanfragen auf die App. Dort bleiben sie solange sichtbar, solange der Bedarf besteht.
            Damit ist immer klar was gerade jetzt benötigt wird. Und wo es benötigt wird. Du kannst dir also sicher sein, dass deine Hilfe
            wirkt. 
            </p>
            
            <p>
            Durch deine Bestätigung einer Hilfsanfrage sieht die Hilfsorganisation, dass deine Hilfe kommen wird.
            Damit wird die Arbeit der Mitarbeiter am Standort wesentlich erleichtert und es kann mehr und effizienter
            geholfen werden.
            </p>


        <h2 class="ui dividing header">Kann ich eine zugesagte Hilfeleistung wieder stornieren?</h2>

            <p>Ja, in deinem Status findest du die zugesagte Hilfeleistung. Klicke auf das Bild und scrolle dann nach unten. Dort ist ein Link für die Stornierung der Zusage verfügbar.</p>


        <h2 class="ui dividing header"> Wie kann ich mich in der App anmelden?</h2>

            <p>Wenn du nur nach Hilfsanfragen suchst, kannst du die App ohne Registrierung verwenden. Wenn du ein Profil erstellen willst und Informationen über Hilfsanfragen in deiner Nähe bekommen willst, dann kannst du dich via Facebook oder per eMail registrieren.</p>
            
            <p><i class="mail icon"></i> Die eMail Registrierung funktioniert so, dass du deine eMail in der App eingibst und auf Registrieren drückst. Dann bekommst du eine Mail auf diese Adresse gesendet. Die Mail enthält einen Link, auf den du klickst. Damit bist du registriert.</p>
            
            <p><i class="facebook icon"></i> Die Facebook Registrierung ist lediglich ein Knopfdruck, falls du die Facebook App am Mobiltelefon laufen hast. Sonst bitte deine Facebook-Anmeldedaten in das Formular eingeben. Die App benötigt keine Schreibrechte auf deinen Facebook Account und lediglich Leserechte auf deine öffentlichen Daten.</p>



        <h2 class="ui dividing header"> Wie kann ich die eMail Adresse meines Accounts ändern?</h2>

            <p>
            Das geht leider nicht automatisch. Schreibe uns bitte eine eMail an office@help2day.org. Wir werden das für dich machen.
            </p>
 
 
        <h2 class="ui dividing header">Wie kann ich einen Account löschen?</h2>

            <p>
            Zum Löschen deines Accounts, sende bitte eine eMail an office@help2day.org mit der Aufforderung zur Löschung. Für die korrekte Zuordnung des Accounts 
            brauchen wir deine eMail Adresse, mit der du dich registriert hast 
            oder deinen Facebook Namen von dem Facebook Account mit dem du dich registriert hast.
            </p>
 
    </div>
    
    <div class="ui basic segment">
    </div>
  
</div>

{{> footer}}
